.info {
  display: flex;
  width: 1000px;
  height: 600px;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
}
.imgend {
  width: 170px;
  height: 280px;
  padding-right: 40px;
}
#bottomnav {
  display: flex;
  flex-direction: column;
}
#bottomcontact {
  display: flex;
  flex-direction: column;
}
#bottomsocialmedia {
  display: flex;
  flex-direction: column;
}
