.top {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 30px;
}
.onlinemenu {
  background-color: rgb(244, 206, 20);
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
}
.card {
  background-color: white;
  display: flex;
}
